<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718270369101-i5ai24mt6b35pcuscqsllu7idc686k0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718270369101-i5ai24mt6b35pcuscqsllu7idc686k0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBsvNsFlzU47tKRvL3D0gcr7-VKI1R_1f8</string>
	<key>GCM_SENDER_ID</key>
	<string>718270369101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.contemplei.investimentos</string>
	<key>PROJECT_ID</key>
	<string>contemplei-investimentos</string>
	<key>STORAGE_BUCKET</key>
	<string>contemplei-investimentos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718270369101:ios:7de0470b167bcdb9bdfb04</string>
	<key>DATABASE_URL</key>
	<string>https://contemplei-investimentos.firebaseio.com</string>
</dict>
</plist>